{##
 # /views/error.twig
 #}

{% extends 'layout.twig' %}

{% block title %}Index{% endblock title %}

{% block body %}
	<main class="container">
		<h1>Welcome to {{ title }}</h1>
		<p>Test</p>
	</main>
{% endblock %}